---
import "@fontsource/iosevka-aile";
import Nav from "@/layouts/Nav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <meta name="generator" content={Astro.generator} />
        <title>x0rtex.xyz</title>
    </head>
    <body>
        <Nav />
        <slot />
    </body>
</html>
<style>
    body {
        font-family: "Iosevka Aile", monospace;
    }
</style>
